body {
  font-family: Georgia, sans-serif;
  font-size: 18px;
  background-color: #66cdaa;
}

/*.league_header {
  color: red;
  font-size: 36px;
  text-align: center;
}

.index-links {
  display: inline;
  text-align: center;
}

div ul {
  list-style-type: none;
}

#bart_simpson {
  border-radius: 25px;
  padding: 20px;
  background-image: url( "https://upload.wikimedia.org/wikipedia/en/a/aa/Bart_Simpson_200px.png");
  background-size: 50px 80px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}*/
